/* Global Style  */
.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



nav,
main
{
    max-width: 1140px;
    margin: 0 auto;

}

body {
    background: #f5f8ff;
}

/* colors */
.primary-color {
    color: #4e47ff;
}

.primary-bg-01 {
    background: rgba(78, 71, 255, 1);
}

.primary-bg-02 {
    background: rgba(78, 71, 255, 0.1);

}

.primary-shade {
    background: rgba(78, 71, 255, 0.1);
}

.secondary-color {
    color: red;

}

.dark-01 {
    color: #252432;

}

.dark-02 {
    color: rgba(37, 36, 50, 0.5);


}

.dark-03 {
    color: rgba(0, 0, 0, 0.5);
}

.dark-04 {
    color: #1e1e1e;


}

.dark-05 {
    color: #757575;
}

.dark-06 {
    color: #b3b3b3;
}

.dark-07{
    color: #8987A1;
}

.light {
    color: #ffffff;
}

.light-shade {
    background: rgba(255, 255, 255, 1);
}

.light-bg {
    background: rgba(255, 255, 255, 0.5);
}

header {
    background: url('../assets/banner-bg.png');
    padding: 0px 0px 0px 0px;

}

/* nav style */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-items: stretch;
    justify-content: space-between;
    padding: 50px 0px 50px 0px;

}

.logo {
    font-size: 34px;
    font-weight: 900;
    line-height: 1.5;
}

.btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    padding: 12px 36px 12px 36px;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #4e47ff;

}

.btn:hover {
    background: #ffffff;
    border: 1px solid #4e47ff;
    color: #4e47ff;
    transition: all .3s ease-in;
}


/* hero style */

.hero {
    padding: 158px 0 148px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.hero-content {
    width: 905px;
    height: auto;
    /* margin: 158px auto 148px auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    row-gap: 37px;
}

.hero-content h1 {
    font-size: 65px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;

}

/* action styls */
.action {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-items: stretch;
    justify-content: space-between;
    margin-top: 116px;
    margin-bottom: 116px;
}

.left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    align-content: start;
    justify-content: start;
    row-gap: 23px;
    width: 517px;
    height: auto;
}

.left h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
}

.left p {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
}

.right img {
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

/* productive user styles */
.productive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    padding: 50px 80px 50px 80px;
    border-radius: 24px;
    margin-bottom: 137px;
}

.productive-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
}

.productive-content h3 {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.2;

}

.achievements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 158px;
}

.achievements-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.achievements-title {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
}

.achievements-description {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;

}

/* feedback style  */
.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
    margin-bottom: 132px;
}

.feedback h3 {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
}

.review-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;

}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: start;
    row-gap: 24px;
    padding: 24px;
    min-width: 240px;
    align-self: stretch;
    border: 1px solid #f2ededFF;
    border-radius: 14px;
}

.rating {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    justify-items: start;
    column-gap: 4px;

}

.review-body h5 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.48px;
}

.review-body p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;

}

.avatar {
    display: flex;
    align-items: start;
    justify-content: start;
    column-gap: 12px;
}

.image {
    width: 40px;
    height: 40px;
    border-radius: 9999px;
}

.avatar-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    row-gap: 2px;
}

.name {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
}

.date {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}

/* Focus style  */
.focus{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    padding: 71px 150px 71px 150px;
    border-radius: 14px;
}

.focus-title{
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;

}

.focus-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}
.focus a{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
}

.focus-img{
    width: 100%;
    height: 364px;
    border-radius: 48px;
}


/* Let’s Get In Touch */
.contact{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 71px 0px 71px 0px;
    margin-top: 91px;
}

.contact-title{
    font-size: 97px;
    font-weight: 700;
    line-height: 1.2;
    width: 528px;
    margin-right: 115px;

}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: start;
    row-gap: 19px;
    width: 497px;
    box-sizing: border-box;
}

.form-email, .form-name, .form-message, .form-btn{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    row-gap: 10px;
}

form label{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    font-family: "Inter", sans-serif;
   
}

form input, form textarea{
    border: 1px solid #D6DDED ;
    border-radius: 10px;
    width: 497px;
    height: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    box-sizing: border-box;
    
}

form textarea{
    height: 120px;
}
form input::placeholder,form textarea::placeholder{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(0,0,0,0.5);
    font-family: "Inter", sans-serif;
     
}




/* footer style  */
footer{
    background: #ffffff;
    padding: 104px 0;
}
.footer-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    
   
}

.footer-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: start;
    row-gap: 20px;
    width: 531px;
    margin: 0 auto;
}

.footer-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 8px;
}
.footer-logo{
    font-size: 100px;
    font-weight: 900;
    line-height: 1.2;

}

.footer-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.footer-nav{
    padding: 0;
}
footer ul{
    display: flex;
    flex-direction: row;
    column-gap: 48px;
    
}

footer li a{
    color: #8987A7;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Inter";

}
footer li a:hover{
    color:#4e47ff
}


